@use "../../styles/mixins";

.messageSpinner {
	&__header {
		@include mixins.heading-styled;

		&--nms {
			color: var(--accent-11);
			filter: drop-shadow(0 2px 4px var(--accent-a2));

			// Note: This modifier had very similar styles to the base.
			// Sass would allow further optimization here with @extend if needed.
			font-family: NMS, sans-serif;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	&__spinner {
		filter: drop-shadow(0 2px 4px var(--accent-a2));
		height: 4rem;
		width: 4rem;

		&--big {
			height: 6rem;
			width: 6rem;
		}

		&--accent {
			filter: drop-shadow(0 2px 4px var(--accent-a2));

			/* color: var(--accent-indicator); */
			height: 4rem;
			width: 4rem;
		}

		@media (width <= 640px) {
			height: 3rem;
			width: 3rem;
		}
	}

	&__random {
		min-height: 1.5em;
		transition: color 0.25s ease-in-out;
		user-select: none;

		&--visible {
			color: var(--amber-9);
		}

		&--hidden {
			color: transparent;
		}
	}
}
