@use "../../styles/mixins";

.messageSpinner {
	&__header {
		@include mixins.heading-styled;
	}

	&__spinner {
		filter: drop-shadow(0 2px 4px var(--accent-a2));
		height: 4rem;
		width: 4rem;

		&--big {
			height: 6rem;
			width: 6rem;
		}

		&--accent {
			filter: drop-shadow(0 2px 4px var(--accent-a2));

			/* color: var(--accent-indicator); */
			height: 4rem;
			width: 4rem;
		}

		@media (width <= 640px) {
			height: 2rem;
			width: 2rem;
		}
	}

	&__random {
		min-height: 1.5em;
		transition: color 0.25s ease-in-out;
		user-select: none;

		&--visible {
			color: var(--amber-9);
		}

		&--hidden {
			color: transparent;
		}
	}
}
