@use "../../styles/mixins";

.messageSpinner {
	&__header {
		@include mixins.heading-styled;

		&--nms {
			color: var(--accent-11);
			filter: drop-shadow(0 2px 4px var(--accent-a2));

			// Note: this modifier had very similar styles to the base.
			// sass would allow further optimization here with @extend if needed.;
			font-family: NMS, sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			will-change: filter;
		}
	}

	&__spinner {
		filter: drop-shadow(0 2px 4px var(--accent-a2));
		height: 4rem;
		width: 4rem;
		will-change: filter;

		&--big {
			height: 6rem;
			width: 6rem;
		}

		&--accent {
			filter: drop-shadow(0 2px 4px var(--accent-a2));

			/* color: var(--accent-indicator); */
			height: 4rem;
			width: 4rem;
		}

		@media (width <= 640px) {
			height: 3rem;
			width: 3rem;
		}
	}

	&__random {
		color: var(--amber-9);
		font-weight: semi-bold;
		min-height: 1.5em;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
		user-select: none;

		&--visible {
			opacity: 1;
		}
	}
}
