# Git
.git
.gitignore

# Node
node_modules

# Python
.venv
__pycache__

# Build artifacts
dist
coverage
playwright-report
test-results

# Local development
.env.development
.env.e2e
.env.test
jules-scratch
stats.html
stats.json

# IDE
.vscode

# OS
.DS_Store
