# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
__pycache__

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/*
.venv/*

lighthouse-report.html
lighthouse-report.json
playwright-report
stats.html
stats.json
test-results
tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo

*storybook.log
storybook-static
scripts/dedup.ts

seo/Countries.csv
seo/Dates.csv
seo/Devices.csv
seo/Filters.csv
seo/Pages.csv
seo/Queries.csv
seo/Search appearance.csv

# Million Lint
.million
playwright-report/*
.env
frames/0000_scaled.png
frames/0000_video.mp4
frames/0000.png
frames/0001_scaled.png
frames/0001_video.mp4
frames/0001.png
frames/0002_scaled.png
frames/0002_video.mp4
frames/0002.png
frames/0003_scaled.png
frames/0003_video.mp4
frames/0003.png
frames/0004_scaled.png
frames/0004_video.mp4
frames/0004.png
frames/0005_scaled.png
frames/0005_video.mp4
frames/0005.png
frames/0006_scaled.png
frames/0006_video.mp4
frames/0006.png
frames/0007_scaled.png
frames/0007_video.mp4
frames/0007.png
frames/0008_scaled.png
frames/0008_video.mp4
frames/0008.png
frames/0009_scaled.png
frames/0009_video.mp4
frames/0009.png
frames/0010_scaled.png
frames/0010_video.mp4
frames/0010.png
frames/0011_scaled.png
frames/0011_video.mp4
frames/0011.png
frames/0012_scaled.png
frames/0012_video.mp4
frames/0012.png
frames/0013_scaled.png
frames/0013_video.mp4
frames/0013.png
frames/0014_scaled.png
frames/0014_video.mp4
frames/0014.png
frames/0015_scaled.png
frames/0015_video.mp4
frames/0015.png
frames/0016_scaled.png
frames/0016_video.mp4
frames/0016.png
frames/0017_scaled.png
frames/0017_video.mp4
frames/0017.png
frames/0018_scaled.png
frames/0018_video.mp4
frames/0018.png
frames/0019_scaled.png
frames/0019_video.mp4
frames/0019.png
frames/0020_scaled.png
frames/0020_video.mp4
frames/0020.png
frames/0021_scaled.png
frames/0021_video.mp4
frames/0021.png
frames/0022_scaled.png
frames/0022_video.mp4
frames/0022.png
frames/0023_scaled.png
frames/0023_video.mp4
frames/0023.png
frames/0024_scaled.png
frames/0024_video.mp4
frames/0024.png
frames/0025_scaled.png
frames/0025_video.mp4
frames/0025.png
frames/0026_scaled.png
frames/0026_video.mp4
frames/0026.png
frames/0027_scaled.png
frames/0027_video.mp4
frames/0027.png
frames/0028_scaled.png
frames/0028_video.mp4
frames/0028.png
frames/0029_scaled.png
frames/0029_video.mp4
frames/0029.png
frames/0030_scaled.png
frames/0030_video.mp4
frames/0030.png
frames/0031_scaled.png
frames/0031_video.mp4
frames/0031.png
frames/0032_scaled.png
frames/0032_video.mp4
frames/0032.png
frames/0033_scaled.png
frames/0033_video.mp4
frames/0033.png
frames/0034_scaled.png
frames/0034_video.mp4
frames/0034.png
frames/0035_scaled.png
frames/0035_video.mp4
frames/0035.png
frames/0036_scaled.png
frames/0036_video.mp4
frames/0036.png
frames/0037_scaled.png
frames/0037_video.mp4
frames/0037.png
frames/0038_scaled.png
frames/0038_video.mp4
frames/0038.png
frames/0039_scaled.png
frames/0039_video.mp4
frames/0039.png
frames/0040.png
frames/0041_scaled.png
frames/0041_video.mp4
frames/0041.png
frames/0042_scaled.png
frames/0042_video.mp4
frames/0042.png
frames/0043_scaled.png
frames/0043_video.mp4
frames/0043.png
frames/0044_scaled.png
frames/0044_video.mp4
frames/0044.png
