version: "3.8"
services:
  app:
    image: ghcr.io/jbelew/nms-optimizer-app:${TAG:-latest}
    container_name: nms_optimizer_app
    build:
      context: .
    ports:
      - "8016:80"
    restart: unless-stopped
    command: ["/usr/local/bin/supervisord", "-c", "/etc/supervisor/supervisord.conf"]