@use "../../styles/z-indexes" as *;

.not-found {
	align-items: center;
	display: flex;
	flex-direction: column;
	inset: 0;
	justify-content: center;
	opacity: 1;
	position: fixed;
	z-index: $z-not-found;

	&__logo {
		svg {
			height: 48px;
		}

		@media (width <= 639px) {
			svg {
				height: 48px;
				width: 48px;
			}
		}
	}

	&__title {
		color: var(--amber-11);
		font-family: var(--font-family-geosans);
		-webkit-text-stroke: 0.8px;
	}
}
