.not-found {
	align-items: center;
	color: #e2e8f0;
	display: flex;
	flex-direction: column;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif;
	height: 100dvh;
	justify-content: center;
	left: 0;
	margin: 0;
	padding: 2rem;
	position: absolute;
	top: 0;
	width: 100vw;

	&__logo {
		svg {
			height: 48px;
		}

		@media (width <= 639px) {
			svg {
				height: 48px;
				width: 48px;
			}
		}
	}

	&__title {
		color: rgb(255 197 61);
		font-size: 2rem;
		font-weight: medium;
		margin-bottom: 0;
	}

	&__message {
		margin-bottom: 1rem;
		margin-top: 0;
	}

	&__link {
		background-color: #00a2c7;
		border: 2px solid #00a2c7;
		border-radius: 0.25rem;
		color: white;
		font-weight: 500;
		padding: 0.25rem 0.5rem;
		text-decoration: none;
		transition:
			background-color 0.2s,
			color 0.2s;

		&:hover {
			background-color: #00a2c7;
			color: #1a202c;
		}
	}
}
