@use "../../styles/z-indexes" as *;

.Toast {
	background-color: var(--color-panel-solid);
	border-radius: 8px;
	box-shadow: var(--shadow-6);
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
	padding: var(--space-3);

	&__title-container {
		align-items: center;
		display: flex;
		gap: var(--space-2);
	}

	&__title {
		color: var(--gray-12);
		font-size: 14px;
		margin-top: var(--space-1);
	}

	&__description {
		color: var(--gray-12);
		font-size: 14px;
		margin-bottom: var(--space-1);
	}

	&__icon {
		flex-shrink: 0;
		height: 20px;
		width: 20px;

		&--error {
			color: var(--red-10);
		}

		&--success {
			color: var(--accent-10);
		}

		&--info {
			color: var(--amber-10);
		}
	}
}

.ToastViewport {
	--viewport-padding: 24px;

	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
	list-style: none;
	margin: 0;
	max-width: 100vw;
	padding: var(--viewport-padding);
	position: fixed;
	right: 0;
	width: 390px;
	z-index: $z-toast;
}

@keyframes hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}

	to {
		transform: translateX(0);
	}
}

@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}

	to {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
}

.Toast[data-state="open"] {
	animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Toast[data-state="closed"] {
	animation: hide 100ms ease-in;
}

.Toast[data-state="swiped"] {
	animation: swipeOut 100ms ease-out;
}
