@use "../../styles/mixins";
@use "../../styles/z-indexes" as *;

.ToastRoot {
	align-items: center;
	background-color: var(--color-panel-solid);
	border-radius: 8px;
	box-shadow: var(--shadow-6);
	column-gap: 16px;
	display: grid;
	grid-template-areas: "title action" "description action";
	grid-template-columns: auto max-content;
	padding: 16px;
}

.ToastTitle {
	@include mixins.heading-styled;

	color: var(--amber-11);
	font-size: 15px;
	grid-area: title;

	&--success {
		color: var(--accent-a11);
	}

	&--error {
		color: var(--red-a10);
	}
}

.ToastDescription {
	color: var(--gray-12);
	font-size: 13px;
	grid-area: description;
}

.ToastViewport {
	--viewport-padding: 24px;

	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
	list-style: none;
	margin: 0;
	max-width: 100vw;
	padding: var(--viewport-padding);
	position: fixed;
	right: 0;
	width: 390px;
	z-index: $z-toast;
}

@keyframes hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}

	to {
		transform: translateX(0);
	}
}

@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}

	to {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
}

.ToastRoot[data-state="open"] {
	animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.ToastRoot[data-state="closed"] {
	animation: hide 100ms ease-in;
}

.ToastRoot[data-state="swiped"] {
	animation: swipeOut 100ms ease-out;
}
