@use '../../styles/mixins';
.techRow__label {
	filter: drop-shadow(0 0 2px rgb(0 0 0 / 10%));
}

.heading__styled {
	@include mixins.heading-styled;

	line-height: 1.5em;
}

/* reset */
button,
h3 {
	all: unset;
}