@mixin heading-styled {
	filter: drop-shadow(0 2px 4px var(--accent-a2));
	font-family: var(--font-family-geosans);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-wide);
	-webkit-text-stroke: 1px;
	text-transform: uppercase;
}
