@mixin heading-styled {
	font-family: var(--font-family-geosans);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-wide);
	text-shadow: 0 2px 4px var(--accent-a2);
	-webkit-text-stroke: 1px;
	text-transform: uppercase;
	word-spacing: -0.15em;

	body.a11y-font & {
		font-family: var(--font-family-normal);
		font-weight: 600;
		letter-spacing: normal;
		text-shadow: 0 2px 4px var(--accent-a2);
		-webkit-text-stroke: 0;
		text-transform: uppercase;
	}
}
