/* Element: Title */
.appDialog__title {
	letter-spacing: var(--letter-spacing-wide);
	font-family: var(--font-family-geosans);
	font-weight: 400;
	text-transform: uppercase;
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
	-webkit-text-stroke: 0.75px;
	margin-right: 1rem;
}

/* Element: Close Button */
.appDialog__close {
	position: absolute;
	top: 8px;
	right: 8px;
}

.appDialog__content--markdown {
	padding-right: 8px;
	border: 1px solid var(--cyan-1);
}

.appDialog__content {
	border: 1px solid var(--cyan-1);
}

/* Element: Body (was appDialog__article) - Main content area within the dialog */
.appDialog__container article {
	font-size: var(--text-base);
	padding-right: calc(var(--spacing) * 4);
}

@media (max-width: 640px) {
	.appDialog__container article {
		font-size: var(--text-small);
	}
	.appDialog__container h2 {
		font-size: var(--text-base);
	}
}

/* Styles for ErrorContent component */
.errorContent__icon {
	color: var(--red-9);
}

.errorContent__title {
	color: var(--amber-9);
	font-family: var(--font-family-geosans);
	-webkit-text-stroke: 0.8px;
}

.errorContent__text {
	color: var(--accent-11);
}

.dialogSpinner__spinner {
	height: 4rem;
	width: 4rem;
	filter: drop-shadow(0 0 4px var(--accent-a2));
}
