// @use "../../styles/mixins";

/* Keyframes for AppDialog animations */
@keyframes appDialog__overlay-show {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

@keyframes appDialog__content-show {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes appDialog__overlay-hide {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 0;
	}
}

@keyframes appDialog__content-hide {
	from {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	to {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
}

/* Main component block */
.appDialog {
	&__overlay {
		background-color: var(--color-overlay);
		inset: 0;
		position: fixed;

		&[data-state="open"] {
			animation: appDialog__overlay-show 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
		}

		&[data-state="closed"] {
			animation: appDialog__overlay-hide 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
		}
	}

	&__content {
		background-color: var(--color-panel-solid);
		border-radius: 8px;
		box-shadow: var(--shadow-6);
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: calc(var(--spacing) * 4);
		left: 50%;
		max-height: 80vh;
		padding: calc(var(--spacing) * 4) calc(var(--spacing) * 2) calc(var(--spacing) * 4)
			calc(var(--spacing) * 4);

		@media (width <= 639px) {
			padding: calc(var(--spacing) * 3) calc(var(--spacing) * 1) calc(var(--spacing) * 3)
				calc(var(--spacing) * 3);
		}

		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: clamp(280px, 90vw, 520px);

		&[data-state="open"] {
			animation: appDialog__content-show 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
		}

		&[data-state="closed"] {
			animation: appDialog__content-hide 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
		}
	}

	&__scrollable-content {
		mask-image: linear-gradient(
			to bottom,
			transparent,
			var(--black-a12) 1%,
			var(--black-a12) 98%,
			transparent
		);
	}

	&__title {
		margin-right: 1rem;
	}

	&__container {
		flex-grow: 1;
		overflow-y: auto;

		article {
			font-size: var(--text-base);
			padding-right: calc(var(--spacing) * 4);

			@media (width <= 639px) {
				font-size: var(--text-small);
			}
		}

		h2 {
			@media (width <= 639px) {
				font-size: var(--text-base);
			}
		}
	}
}

/* Styles for related components */
.errorContent {
	&__icon {
		color: var(--red-9);
	}

	&__title {
		color: var(--amber-11);
		font-family: var(--font-family-geosans);
	}

	&__text {
		color: var(--accent-11);
	}
}

.dialogSpinner {
	&__spinner {
		height: 4rem;
		width: 4rem;
	}
}
