.welcomeContent {
	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		list-style-type: disc;
		padding-left: 1.25rem;
	}

	&__item {
		font-size: var(--text-small);
		line-height: 1.5;

		&::marker {
			color: var(--accent-11);
		}

		strong {
			font-weight: 700;
		}
	}

	&__link {
		color: var(--accent-11);
		cursor: pointer;
		font-weight: 600;
		text-decoration: underline;

		&:hover {
			color: var(--accent-12);
		}
	}
}
