@use "../../styles/z-indexes" as *;

.offline {
	align-items: center;
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	inset: 0;
	justify-content: center;
	position: fixed;
	z-index: $z-offline-banner;

	&__logo {
		svg {
			height: 48px;
		}

		@media (width <= 639px) {
			svg {
				height: 48px;
				width: 48px;
			}
		}
	}

	&__title {
		color: var(--amber-11);
		font-family: var(--font-family-geosans);
		-webkit-text-stroke: 0.8px;
	}
}
