.gridTable {
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: repeat(10, var(--grid-cell-size)) auto;
	grid-template-rows: repeat(6, var(--grid-cell-size));
	width: fit-content;

	@media (width <= 1023px) {
		border-bottom: 1px solid var(--gray-a6);
		border-top: 1px solid var(--gray-a6);
		margin-bottom: var(--space-4);
		margin-top: var(--space-4);
		padding-bottom: var(--space-4);
		padding-top: var(--space-4);
	}

	@media (width <= 639px) {
		margin-bottom: var(--space-3);
		margin-top: var(--space-3);
		padding-bottom: var(--space-3);
		padding-top: var(--space-3);
	}
}

[role="row"] {
	display: contents; /* This allows children to be direct grid items */
}
