.dark,
.dark-theme {
	--blue-1: #0d1520;
	--blue-2: #111927;
	--blue-3: #0d2847;
	--blue-4: #003362;
	--blue-5: #004074;
	--blue-6: #104d87;
	--blue-7: #205d9e;
	--blue-8: #2870bd;
	--blue-9: #0090ff;
	--blue-10: #3b9eff;
	--blue-11: #70b8ff;
	--blue-12: #c2e6ff;
	--blue-a1: #004df211;
	--blue-a2: #1166fb18;
	--blue-a3: #0077ff3a;
	--blue-a4: #0075ff57;
	--blue-a5: #0081fd6b;
	--blue-a6: #0f89fd7f;
	--blue-a7: #2a91fe98;
	--blue-a8: #3094feb9;
	--blue-a9: #0090ff;
	--blue-a10: #3b9eff;
	--blue-a11: #70b8ff;
	--blue-a12: #c2e6ff;
	--blue-surface: #11213d80;
	--blue-indicator: var(--blue-9);
	--blue-track: var(--blue-9);
}

:root {
	--blue-contrast: white;
}
