.dark,
.dark-theme {
	--crimson-1: #191114;
	--crimson-2: #201318;
	--crimson-3: #381525;
	--crimson-4: #4d122f;
	--crimson-5: #5c1839;
	--crimson-6: #6d2545;
	--crimson-7: #873356;
	--crimson-8: #b0436e;
	--crimson-9: #e93d82;
	--crimson-10: #ee518a;
	--crimson-11: #ff92ad;
	--crimson-12: #fdd3e8;
	--crimson-a1: #f4126709;
	--crimson-a2: #f22f7a11;
	--crimson-a3: #fe2a8b2a;
	--crimson-a4: #fd158741;
	--crimson-a5: #fd278f51;
	--crimson-a6: #fe459763;
	--crimson-a7: #fd559b7f;
	--crimson-a8: #fe5b9bab;
	--crimson-a9: #fe418de8;
	--crimson-a10: #ff5693ed;
	--crimson-a11: #ff92ad;
	--crimson-a12: #ffd5eafd;
	--crimson-surface: #2f151f80;
	--crimson-indicator: var(--crimson-9);
	--crimson-track: var(--crimson-9);
}

:root {
	--crimson-contrast: white;
}
