.dark,
.dark-theme {
	--cyan-1: #0b161a;
	--cyan-2: #101b20;
	--cyan-3: #082c36;
	--cyan-4: #003848;
	--cyan-5: #004558;
	--cyan-6: #045468;
	--cyan-7: #12677e;
	--cyan-8: #11809c;
	--cyan-9: #00a2c7;
	--cyan-10: #23afd0;
	--cyan-11: #4ccce6;
	--cyan-12: #b6ecf7;
	--cyan-a1: #0091f70a;
	--cyan-a2: #02a7f211;
	--cyan-a3: #00befd28;
	--cyan-a4: #00baff3b;
	--cyan-a5: #00befd4d;
	--cyan-a6: #00c7fd5e;
	--cyan-a7: #14cdff75;
	--cyan-a8: #11cfff95;
	--cyan-a9: #00cfffc3;
	--cyan-a10: #28d6ffcd;
	--cyan-a11: #52e1fee5;
	--cyan-a12: #bbf3fef7;
	--cyan-surface: #11252d80;
	--cyan-indicator: var(--cyan-9);
	--cyan-track: var(--cyan-9);
}

:root {
	--cyan-contrast: white;
}
