.dark,
.dark-theme {
	--green-1: #0e1512;
	--green-2: #121b17;
	--green-3: #132d21;
	--green-4: #113b29;
	--green-5: #174933;
	--green-6: #20573e;
	--green-7: #28684a;
	--green-8: #2f7c57;
	--green-9: #30a46c;
	--green-10: #33b074;
	--green-11: #3dd68c;
	--green-12: #b1f1cb;
	--green-a1: #00de4505;
	--green-a2: #29f99d0b;
	--green-a3: #22ff991e;
	--green-a4: #11ff992d;
	--green-a5: #2bffa23c;
	--green-a6: #44ffaa4b;
	--green-a7: #50fdac5e;
	--green-a8: #54ffad73;
	--green-a9: #44ffa49e;
	--green-a10: #43fea4ab;
	--green-a11: #46fea5d4;
	--green-a12: #bbffd7f0;
	--green-surface: #15251d80;
	--green-indicator: var(--green-9);
	--green-track: var(--green-9);
}

:root {
	--green-contrast: white;
}
