.dark,
.dark-theme {
	--iris-1: #13131e;
	--iris-2: #171625;
	--iris-3: #202248;
	--iris-4: #262a65;
	--iris-5: #303374;
	--iris-6: #3d3e82;
	--iris-7: #4a4a95;
	--iris-8: #5958b1;
	--iris-9: #5b5bd6;
	--iris-10: #6e6ade;
	--iris-11: #b1a9ff;
	--iris-12: #e0dffe;
	--iris-a1: #3636fe0e;
	--iris-a2: #564bf916;
	--iris-a3: #525bff3b;
	--iris-a4: #4d58ff5a;
	--iris-a5: #5b62fd6b;
	--iris-a6: #6d6ffd7a;
	--iris-a7: #7777fe8e;
	--iris-a8: #7b7afeac;
	--iris-a9: #6a6afed4;
	--iris-a10: #7d79ffdc;
	--iris-a11: #b1a9ff;
	--iris-a12: #e1e0fffe;
	--iris-surface: #1d1b3980;
	--iris-indicator: var(--iris-9);
	--iris-track: var(--iris-9);
}

:root {
	--iris-contrast: white;
}
