.dark,
.dark-theme {
	--orange-1: #17120e;
	--orange-2: #1e160f;
	--orange-3: #331e0b;
	--orange-4: #462100;
	--orange-5: #562800;
	--orange-6: #66350c;
	--orange-7: #7e451d;
	--orange-8: #a35829;
	--orange-9: #f76b15;
	--orange-10: #ff801f;
	--orange-11: #ffa057;
	--orange-12: #ffe0c2;
	--orange-a1: #ec360007;
	--orange-a2: #fe6d000e;
	--orange-a3: #fb6a0025;
	--orange-a4: #ff590039;
	--orange-a5: #ff61004a;
	--orange-a6: #fd75045c;
	--orange-a7: #ff832c75;
	--orange-a8: #fe84389d;
	--orange-a9: #fe6d15f7;
	--orange-a10: #ff801f;
	--orange-a11: #ffa057;
	--orange-a12: #ffe0c2;
	--orange-surface: #271d1380;
	--orange-indicator: var(--orange-9);
	--orange-track: var(--orange-9);
}

:root {
	--orange-contrast: white;
}
