.dark,
.dark-theme {
	--purple-1: #18111b;
	--purple-2: #1e1523;
	--purple-3: #301c3b;
	--purple-4: #3d224e;
	--purple-5: #48295c;
	--purple-6: #54346b;
	--purple-7: #664282;
	--purple-8: #8457aa;
	--purple-9: #8e4ec6;
	--purple-10: #9a5cd0;
	--purple-11: #d19dff;
	--purple-12: #ecd9fa;
	--purple-a1: #b412f90b;
	--purple-a2: #b744f714;
	--purple-a3: #c150ff2d;
	--purple-a4: #bb53fd42;
	--purple-a5: #be5cfd51;
	--purple-a6: #c16dfd61;
	--purple-a7: #c378fd7a;
	--purple-a8: #c47effa4;
	--purple-a9: #b661ffc2;
	--purple-a10: #bc6fffcd;
	--purple-a11: #d19dff;
	--purple-a12: #f1ddfffa;
	--purple-surface: #2b173580;
	--purple-indicator: var(--purple-9);
	--purple-track: var(--purple-9);
}

:root {
	--purple-contrast: white;
}
