.dark,
.dark-theme {
	--cyan-1: #0b161a;
	--cyan-2: #101b20;
	--cyan-3: #082c36;
	--cyan-4: #003848;
	--cyan-5: #004558;
	--cyan-6: #045468;
	--cyan-7: #12677e;
	--cyan-8: #11809c;
	--cyan-9: #00a2c7;
	--cyan-10: #23afd0;
	--cyan-11: #4ccce6;
	--cyan-12: #b6ecf7;
	--cyan-a1: #0091f70a;
	--cyan-a2: #02a7f211;
	--cyan-a3: #00befd28;
	--cyan-a4: #00baff3b;
	--cyan-a5: #00befd4d;
	--cyan-a6: #00c7fd5e;
	--cyan-a7: #14cdff75;
	--cyan-a8: #11cfff95;
	--cyan-a9: #00cfffc3;
	--cyan-a10: #28d6ffcd;
	--cyan-a11: #52e1fee5;
	--cyan-a12: #bbf3fef7;
	--cyan-surface: #11252d80;
	--cyan-indicator: var(--cyan-9);
	--cyan-track: var(--cyan-9);
}

:root {
	--cyan-contrast: white;
}

.dark,
.dark-theme {
	--slate-1: #111113;
	--slate-2: #18191b;
	--slate-3: #212225;
	--slate-4: #272a2d;
	--slate-5: #2e3135;
	--slate-6: #363a3f;
	--slate-7: #43484e;
	--slate-8: #5a6169;
	--slate-9: #696e77;
	--slate-10: #777b84;
	--slate-11: #b0b4ba;
	--slate-12: #edeef0;
	--slate-a1: #00000000;
	--slate-a2: #d8f4f609;
	--slate-a3: #ddeaf814;
	--slate-a4: #d3edf81d;
	--slate-a5: #d9edfe25;
	--slate-a6: #d6ebfd30;
	--slate-a7: #d9edff40;
	--slate-a8: #d9edff5d;
	--slate-a9: #dfebfd6d;
	--slate-a10: #e5edfd7b;
	--slate-a11: #f1f7feb5;
	--slate-a12: #fcfdffef;
	--slate-surface: #1f212380;
	--slate-indicator: var(--slate-9);
	--slate-track: var(--slate-9);
}

:root {
	--slate-contrast: white;
}

.dark,
.dark-theme {
	--purple-1: #18111b;
	--purple-2: #1e1523;
	--purple-3: #301c3b;
	--purple-4: #3d224e;
	--purple-5: #48295c;
	--purple-6: #54346b;
	--purple-7: #664282;
	--purple-8: #8457aa;
	--purple-9: #8e4ec6;
	--purple-10: #9a5cd0;
	--purple-11: #d19dff;
	--purple-12: #ecd9fa;
	--purple-a1: #b412f90b;
	--purple-a2: #b744f714;
	--purple-a3: #c150ff2d;
	--purple-a4: #bb53fd42;
	--purple-a5: #be5cfd51;
	--purple-a6: #c16dfd61;
	--purple-a7: #c378fd7a;
	--purple-a8: #c47effa4;
	--purple-a9: #b661ffc2;
	--purple-a10: #bc6fffcd;
	--purple-a11: #d19dff;
	--purple-a12: #f1ddfffa;
	--purple-surface: #2b173580;
	--purple-indicator: var(--purple-9);
	--purple-track: var(--purple-9);
}

:root {
	--purple-contrast: white;
}

.dark,
.dark-theme {
	--amber-1: #16120c;
	--amber-2: #1d180f;
	--amber-3: #302008;
	--amber-4: #3f2700;
	--amber-5: #4d3000;
	--amber-6: #5c3d05;
	--amber-7: #714f19;
	--amber-8: #8f6424;
	--amber-9: #ffc53d;
	--amber-10: #ffd60a;
	--amber-11: #ffca16;
	--amber-12: #ffe7b3;
	--amber-a1: #e63c0006;
	--amber-a2: #fd9b000d;
	--amber-a3: #fa820022;
	--amber-a4: #fc820032;
	--amber-a5: #fd8b0041;
	--amber-a6: #fd9b0051;
	--amber-a7: #ffab2567;
	--amber-a8: #ffae3587;
	--amber-a9: #ffc53d;
	--amber-a10: #ffd60a;
	--amber-a11: #ffca16;
	--amber-a12: #ffe7b3;
	--amber-surface: #271f1380;
	--amber-indicator: var(--amber-9);
	--amber-track: var(--amber-9);
}

:root {
	--amber-contrast: #21201c;
}
@supports (color: color-mix(in oklab, white, black)) {
	.dark,
	.dark-theme {
		--amber-track: color-mix(in oklab, var(--amber-8), var(--amber-9) 75%);
	}
}

.dark,
.dark-theme {
	--blue-1: #0d1520;
	--blue-2: #111927;
	--blue-3: #0d2847;
	--blue-4: #003362;
	--blue-5: #004074;
	--blue-6: #104d87;
	--blue-7: #205d9e;
	--blue-8: #2870bd;
	--blue-9: #0090ff;
	--blue-10: #3b9eff;
	--blue-11: #70b8ff;
	--blue-12: #c2e6ff;
	--blue-a1: #004df211;
	--blue-a2: #1166fb18;
	--blue-a3: #0077ff3a;
	--blue-a4: #0075ff57;
	--blue-a5: #0081fd6b;
	--blue-a6: #0f89fd7f;
	--blue-a7: #2a91fe98;
	--blue-a8: #3094feb9;
	--blue-a9: #0090ff;
	--blue-a10: #3b9eff;
	--blue-a11: #70b8ff;
	--blue-a12: #c2e6ff;
	--blue-surface: #11213d80;
	--blue-indicator: var(--blue-9);
	--blue-track: var(--blue-9);
}

:root {
	--blue-contrast: white;
}

.dark,
.dark-theme {
	--crimson-1: #191114;
	--crimson-2: #201318;
	--crimson-3: #381525;
	--crimson-4: #4d122f;
	--crimson-5: #5c1839;
	--crimson-6: #6d2545;
	--crimson-7: #873356;
	--crimson-8: #b0436e;
	--crimson-9: #e93d82;
	--crimson-10: #ee518a;
	--crimson-11: #ff92ad;
	--crimson-12: #fdd3e8;
	--crimson-a1: #f4126709;
	--crimson-a2: #f22f7a11;
	--crimson-a3: #fe2a8b2a;
	--crimson-a4: #fd158741;
	--crimson-a5: #fd278f51;
	--crimson-a6: #fe459763;
	--crimson-a7: #fd559b7f;
	--crimson-a8: #fe5b9bab;
	--crimson-a9: #fe418de8;
	--crimson-a10: #ff5693ed;
	--crimson-a11: #ff92ad;
	--crimson-a12: #ffd5eafd;
	--crimson-surface: #2f151f80;
	--crimson-indicator: var(--crimson-9);
	--crimson-track: var(--crimson-9);
}

:root {
	--crimson-contrast: white;
}

.dark,
.dark-theme {
	--green-1: #0e1512;
	--green-2: #121b17;
	--green-3: #132d21;
	--green-4: #113b29;
	--green-5: #174933;
	--green-6: #20573e;
	--green-7: #28684a;
	--green-8: #2f7c57;
	--green-9: #30a46c;
	--green-10: #33b074;
	--green-11: #3dd68c;
	--green-12: #b1f1cb;
	--green-a1: #00de4505;
	--green-a2: #29f99d0b;
	--green-a3: #22ff991e;
	--green-a4: #11ff992d;
	--green-a5: #2bffa23c;
	--green-a6: #44ffaa4b;
	--green-a7: #50fdac5e;
	--green-a8: #54ffad73;
	--green-a9: #44ffa49e;
	--green-a10: #43fea4ab;
	--green-a11: #46fea5d4;
	--green-a12: #bbffd7f0;
	--green-surface: #15251d80;
	--green-indicator: var(--green-9);
	--green-track: var(--green-9);
}

:root {
	--green-contrast: white;
}

.dark,
.dark-theme {
	--iris-1: #13131e;
	--iris-2: #171625;
	--iris-3: #202248;
	--iris-4: #262a65;
	--iris-5: #303374;
	--iris-6: #3d3e82;
	--iris-7: #4a4a95;
	--iris-8: #5958b1;
	--iris-9: #5b5bd6;
	--iris-10: #6e6ade;
	--iris-11: #b1a9ff;
	--iris-12: #e0dffe;
	--iris-a1: #3636fe0e;
	--iris-a2: #564bf916;
	--iris-a3: #525bff3b;
	--iris-a4: #4d58ff5a;
	--iris-a5: #5b62fd6b;
	--iris-a6: #6d6ffd7a;
	--iris-a7: #7777fe8e;
	--iris-a8: #7b7afeac;
	--iris-a9: #6a6afed4;
	--iris-a10: #7d79ffdc;
	--iris-a11: #b1a9ff;
	--iris-a12: #e1e0fffe;
	--iris-surface: #1d1b3980;
	--iris-indicator: var(--iris-9);
	--iris-track: var(--iris-9);
}

:root {
	--iris-contrast: white;
}

.dark,
.dark-theme {
	--jade-1: #0d1512;
	--jade-2: #121c18;
	--jade-3: #0f2e22;
	--jade-4: #0b3b2c;
	--jade-5: #114837;
	--jade-6: #1b5745;
	--jade-7: #246854;
	--jade-8: #2a7e68;
	--jade-9: #29a383;
	--jade-10: #27b08b;
	--jade-11: #1fd8a4;
	--jade-12: #adf0d4;
	--jade-a1: #00de4505;
	--jade-a2: #27fba60c;
	--jade-a3: #02f99920;
	--jade-a4: #00ffaa2d;
	--jade-a5: #11ffb63b;
	--jade-a6: #34ffc24b;
	--jade-a7: #45fdc75e;
	--jade-a8: #48ffcf75;
	--jade-a9: #38feca9d;
	--jade-a10: #31fec7ab;
	--jade-a11: #21fec0d6;
	--jade-a12: #b8ffe1ef;
	--jade-surface: #13271f80;
	--jade-indicator: var(--jade-9);
	--jade-track: var(--jade-9);
}

:root {
	--jade-contrast: white;
}

.dark,
.dark-theme {
	--orange-1: #17120e;
	--orange-2: #1e160f;
	--orange-3: #331e0b;
	--orange-4: #462100;
	--orange-5: #562800;
	--orange-6: #66350c;
	--orange-7: #7e451d;
	--orange-8: #a35829;
	--orange-9: #f76b15;
	--orange-10: #ff801f;
	--orange-11: #ffa057;
	--orange-12: #ffe0c2;
	--orange-a1: #ec360007;
	--orange-a2: #fe6d000e;
	--orange-a3: #fb6a0025;
	--orange-a4: #ff590039;
	--orange-a5: #ff61004a;
	--orange-a6: #fd75045c;
	--orange-a7: #ff832c75;
	--orange-a8: #fe84389d;
	--orange-a9: #fe6d15f7;
	--orange-a10: #ff801f;
	--orange-a11: #ffa057;
	--orange-a12: #ffe0c2;
	--orange-surface: #271d1380;
	--orange-indicator: var(--orange-9);
	--orange-track: var(--orange-9);
}

:root {
	--orange-contrast: white;
}

.dark,
.dark-theme {
	--red-1: #191111;
	--red-2: #201314;
	--red-3: #3b1219;
	--red-4: #500f1c;
	--red-5: #611623;
	--red-6: #72232d;
	--red-7: #8c333a;
	--red-8: #b54548;
	--red-9: #e5484d;
	--red-10: #ec5d5e;
	--red-11: #ff9592;
	--red-12: #ffd1d9;
	--red-a1: #f4121209;
	--red-a2: #f22f3e11;
	--red-a3: #ff173f2d;
	--red-a4: #fe0a3b44;
	--red-a5: #ff204756;
	--red-a6: #ff3e5668;
	--red-a7: #ff536184;
	--red-a8: #ff5d61b0;
	--red-a9: #fe4e54e4;
	--red-a10: #ff6465eb;
	--red-a11: #ff9592;
	--red-a12: #ffd1d9;
	--red-surface: #2f151780;
	--red-indicator: var(--red-9);
	--red-track: var(--red-9);
}

:root {
	--red-contrast: white;
}

.dark,
.dark-theme {
	--sky-1: #0d141f;
	--sky-2: #111a27;
	--sky-3: #112840;
	--sky-4: #113555;
	--sky-5: #154467;
	--sky-6: #1b537b;
	--sky-7: #1f6692;
	--sky-8: #197cae;
	--sky-9: #7ce2fe;
	--sky-10: #a8eeff;
	--sky-11: #75c7f0;
	--sky-12: #c2f3ff;
	--sky-a1: #0044ff0f;
	--sky-a2: #1171fb18;
	--sky-a3: #1184fc33;
	--sky-a4: #128fff49;
	--sky-a5: #1c9dfd5d;
	--sky-a6: #28a5ff72;
	--sky-a7: #2badfe8b;
	--sky-a8: #1db2fea9;
	--sky-a9: #7ce3fffe;
	--sky-a10: #a8eeff;
	--sky-a11: #7cd3ffef;
	--sky-a12: #c2f3ff;
	--sky-surface: #13233b80;
	--sky-indicator: var(--sky-9);
	--sky-track: var(--sky-9);
}

:root {
	--sky-contrast: #1c2024;
}
@supports (color: color-mix(in oklab, white, black)) {
	.dark,
	.dark-theme {
		--sky-track: color-mix(in oklab, var(--sky-8), var(--sky-9) 65%);
	}
}

.dark,
.dark-theme {
	--teal-1: #0d1514;
	--teal-2: #111c1b;
	--teal-3: #0d2d2a;
	--teal-4: #023b37;
	--teal-5: #084843;
	--teal-6: #145750;
	--teal-7: #1c6961;
	--teal-8: #207e73;
	--teal-9: #12a594;
	--teal-10: #0eb39e;
	--teal-11: #0bd8b6;
	--teal-12: #adf0dd;
	--teal-a1: #00deab05;
	--teal-a2: #12fbe60c;
	--teal-a3: #00ffe61e;
	--teal-a4: #00ffe92d;
	--teal-a5: #00ffea3b;
	--teal-a6: #1cffe84b;
	--teal-a7: #2efde85f;
	--teal-a8: #32ffe775;
	--teal-a9: #13ffe49f;
	--teal-a10: #0dffe0ae;
	--teal-a11: #0afed5d6;
	--teal-a12: #b8ffebef;
	--teal-surface: #13272580;
	--teal-indicator: var(--teal-9);
	--teal-track: var(--teal-9);
}

:root {
	--teal-contrast: white;
}

.dark,
.dark-theme {
	--yellow-1: #14120b;
	--yellow-2: #1b180f;
	--yellow-3: #2d2305;
	--yellow-4: #362b00;
	--yellow-5: #433500;
	--yellow-6: #524202;
	--yellow-7: #665417;
	--yellow-8: #836a21;
	--yellow-9: #ffe629;
	--yellow-10: #ffff57;
	--yellow-11: #f5e147;
	--yellow-12: #f6eeb4;
	--yellow-a1: #d1510004;
	--yellow-a2: #f9b4000b;
	--yellow-a3: #ffaa001e;
	--yellow-a4: #fdb70028;
	--yellow-a5: #febb0036;
	--yellow-a6: #fec40046;
	--yellow-a7: #fdcb225c;
	--yellow-a8: #fdca327b;
	--yellow-a9: #ffe629;
	--yellow-a10: #ffff57;
	--yellow-a11: #fee949f5;
	--yellow-a12: #fef6baf6;
	--yellow-surface: #231f1380;
	--yellow-indicator: var(--yellow-9);
	--yellow-track: var(--yellow-9);
}

:root {
	--yellow-contrast: #21201c;
}
@supports (color: color-mix(in oklab, white, black)) {
	.dark,
	.dark-theme {
		--yellow-track: color-mix(in oklab, var(--yellow-8), var(--yellow-9) 65%);
	}
}
