.dark,
.dark-theme {
	--sky-1: #0d141f;
	--sky-2: #111a27;
	--sky-3: #112840;
	--sky-4: #113555;
	--sky-5: #154467;
	--sky-6: #1b537b;
	--sky-7: #1f6692;
	--sky-8: #197cae;
	--sky-9: #7ce2fe;
	--sky-10: #a8eeff;
	--sky-11: #75c7f0;
	--sky-12: #c2f3ff;
	--sky-a1: #0044ff0f;
	--sky-a2: #1171fb18;
	--sky-a3: #1184fc33;
	--sky-a4: #128fff49;
	--sky-a5: #1c9dfd5d;
	--sky-a6: #28a5ff72;
	--sky-a7: #2badfe8b;
	--sky-a8: #1db2fea9;
	--sky-a9: #7ce3fffe;
	--sky-a10: #a8eeff;
	--sky-a11: #7cd3ffef;
	--sky-a12: #c2f3ff;
	--sky-surface: #13233b80;
	--sky-indicator: var(--sky-9);
	--sky-track: var(--sky-9);
}

:root {
	--sky-contrast: #1c2024;
}
@supports (color: color-mix(in oklab, white, black)) {
	.dark,
	.dark-theme {
		--sky-track: color-mix(in oklab, var(--sky-8), var(--sky-9) 65%);
	}
}
