.gridCell {
	background-size: cover;
	background-position: center;
	background-color: var(--accent-a2);
	width: var(--grid-cell-size);
	height: var(--grid-cell-size);

	/* Prevent text selection */
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */

	/* Prevent callout menu on iOS tap-hold */
	-webkit-touch-callout: none;

	/* Optional: Prevent drag */
	-webkit-user-drag: none;

	/* Render settings */
	/* image-rendering: high-quality; */
}

.gridCell:focus-visible {
	outline: 2px solid var(--accent-track);
	outline-offset: 2px;
}

.gridCell__label {
	text-shadow:
		-1px -1px 2px rgba(0, 0, 0, 0.5),
		1px -1px 2px rgba(0, 0, 0, 0.5),
		-1px 1px 2px rgba(0, 0, 0, 0.5),
		1px 1px 2px rgba(0, 0, 0, 0.5),
		0px 0px 4px rgba(0, 0, 0, 0.75);
	color: var(--gray-a12);
	font-family: "Acumin";
}

.gridCell--interactive {
	cursor: pointer;
}

.gridCell--active {
	border-color: var(--accent-indicator);
	background-color: var(--accent-a3);
}

.gridCell--active:hover {
	background-color: var(--accent-a4);
}

.gridCell--empty {
	background-color: var(--accent-a3);
	border-color: var(--accent-a2);
}

.gridCell--empty:hover {
	background-color: var(--accent-a4);
}

.gridCell--inactive {
	border-color: var(--gray-a2);
	background-color: var(--gray-a2);
}

.gridCell--inactive:hover {
	background-color: var(--gray-a3);
}

.gridCell--active[data-accent-color="white"] {
	background-color: var(--gray-a3);
	border-color: var(--gray-12);
	border-width: 1px;
}

.gridCell--active[data-accent-color="white"]:hover {
	background-color: var(--gray-a4);
}

.gridCell--supercharged {
	border-color: var(--accent-track);
	background-color: var(--purple-a3) !important;
}

.gridCell--supercharged:hover {
	background-color: var(--purple-a4) !important;
}

.gridCell--black {
	border-color: var(--gray-6);
	background-color: var(--gray-a3);
}

.gridCell--black:hover {
	background-color: var(--gray-a4);
}

.gridCell--glow {
	animation: pulseGlow 1s infinite alternate ease-in-out;
}

@keyframes pulseGlow {
	from {
		/* box-shadow: 0 0 4px 0px var(--accent-a3); */
		border-color: var(--accent-track);
	}
	to {
		/* box-shadow: 0 0 4px 2px var(--accent-a6); */
		border-color: var(--accent-12);
	}
}

.gridCell--touched {
	border-color: var(--accent-a11) !important;
	background-color: var(--accent-track) !important;
}

.gridCell--inactive.gridCell--touched {
	border-color: var(--gray-a11) !important;
	background-color: var(--gray-track) !important;
}

.gridCell--supercharged.gridCell--touched {
	border-color: var(--purple-a11) !important;
	background-color: var(--purple-track) !important;
}

.gridCell--empty .corner {
	border: 1px solid var(--accent-a8);
	position: absolute;
	width: 15%;
	height: 15%;
	pointer-events: none;
}

.gridCell--empty .top-left {
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
}

.gridCell--empty .top-right {
	top: 0;
	right: 0;
	border-left: none;
	border-bottom: none;
}

.gridCell--empty .bottom-left {
	bottom: 0;
	left: 0;
	border-right: none;
	border-top: none;
}

.gridCell--empty .bottom-right {
	bottom: 0;
	right: 0;
	border-left: none;
	border-top: none;
}

.gridCell--inactive .corner {
	border: 1px solid var(--gray-a8);
	position: absolute;
	width: 15%;
	height: 15%;
	pointer-events: none;
}

.gridCell--inactive .top-left {
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
}

.gridCell--inactive .top-right {
	top: 0;
	right: 0;
	border-left: none;
	border-bottom: none;
}

.gridCell--inactive .bottom-left {
	bottom: 0;
	left: 0;
	border-right: none;
	border-top: none;
}

.gridCell--inactive .bottom-right {
	bottom: 0;
	right: 0;
	border-left: none;
	border-top: none;
}

@media (min-width: 640px) {
	/* Transitions only on desktop */
	.gridCell--inactive:hover,
	.gridCell--active:hover,
	.gridCell--supercharged:hover,
	.gridCell--black:hover {
		transition: background-color 0.25s ease;
	}

	.gridCell--black:hover {
		transition: border-color 0.25s ease;
	}

	.gridCell--active[data-accent-color="white"] {
		border-width: 2px;
	}

	.gridCell--empty .corner {
		width: 10%;
		height: 10%;
	}

	.gridCell--inactive .corner {
		width: 10%;
		height: 10%;
	}
}
