@use "../../styles/mixins";

.app-header {
	align-items: center;
	background-image: linear-gradient(to bottom, var(--gray-1), transparent);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-left: var(--app-safe-pl);
	padding-right: var(--app-safe-pr);
	padding-top: var(--space-5);
	position: relative;

	@media (width >= 640px) and (width <= 1024px) {
		padding-top: var(--space-6);
	}

	@media (width >= 1024px) {
		border-top-left-radius: var(--radius-5);
		border-top-right-radius: var(--radius-5);
	}

	&__controls {
		align-items: center;
		display: flex;
		position: absolute !important;
		z-index: 10;

		&--left {
			align-items: center; // Changed from flex-start to center vertically
			height: var(--space-6); // 32px
			left: var(--space-5) !important; // 24px
			top: var(--space-5) !important; // 24px

			@media (width >= 639px) and (width <= 1023px) {
				left: var(--app-safe-pl) !important;
				top: var(--space-6) !important; // 24px
			}
		}

		&--right {
			right: var(--space-5); // 24px
			top: var(--space-5); // 24px

			@media (width >= 639px) and (width <= 1023px) {
				display: flex;
				right: var(--app-safe-pr) !important;
				top: var(--space-6) !important; // 24px
			}
		}
	}

	&__logo-text {
		font-family: var(--font-family-geosans);
		font-size: 1.875rem;
		font-weight: 400;
		letter-spacing: 0.35em;
		line-height: 2rem;
		margin-right: -0.35em;
		text-align: center;
		-webkit-text-stroke: 2.5px;
		text-transform: uppercase;
		word-spacing: -0.25rem;

		@media (width >= 640px) {
			filter: drop-shadow(0 0 4px var(--accent-a8)) drop-shadow(0 0 8px var(--gray-a7));
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	}

	&__logo-button {
		align-items: center;
		all: unset;
		cursor: pointer;
		display: inline-flex;
		justify-content: center;

		&:focus-visible {
			border-radius: 2px;
			outline: 2px solid var(--accent-9);
			outline-offset: 2px;
		}
	}

	&__logo-image {
		color: var(--accent-track);
		flex-shrink: 0;
		height: 1rem;
		width: 0.75rem;

		@media (width >= 640px) {
			height: 1.25rem;
			width: 1rem;
		}
	}

	&__title {
		color: var(--gray-12);
		font-weight: 700;
		text-shadow: 0 0 4px var(--accent-a2);
	}
}

// Non-nested classes
.selectLanguage__header {
	color: var(--accent-11);
	font-size: var(--text-base);
}

.nmsFont--header {
	color: var(--accent-track);
	font-family: NMS, sans-serif;
}

.nmsFont {
	font-family: NMS, sans-serif;
}
