.header {
	background-image: linear-gradient(to bottom, var(--color-panel-solid), rgba(0, 0, 0, 0));
	overflow: hidden;
}

.header__logo--text {
	letter-spacing: 0.35em;
	font-family: var(--font-family-geosans);
	font-weight: 400;
	text-transform: uppercase;
	filter: drop-shadow(0 0 8px var(--accent-track));
	-webkit-text-stroke: 1.75px;
}

.header__title {
	font-weight: 700;
	color: var(--gray-12);
	filter: drop-shadow(0 0 4px var(--accent-a2));
}

.header__title strong {
	font-weight: 700;
	color: var(--gray-12);
	filter: drop-shadow(0 0 8px var(--accent-surface));
}

.selectLanguage__header {
	font-family: var(--font-family-geosans);
	letter-spacing: var(--letter-spacing-wide);
	filter: drop-shadow(0 0 4px var(--accent-a2));
	color: var(--accent-11);
	font-weight: 400;
	font-size: var(--text-base);
	text-transform: uppercase;
	-webkit-text-stroke: 0.75px;
}

.nmsFont--header {
	font-family: "NMS", sans-serif;
	color: var(--accent-track);
}

.nmsFont {
	font-family: "NMS", sans-serif;
}
