@use "../../styles/mixins";

.header {
	background-image: linear-gradient(to bottom, var(--color-panel-solid), rgb(0 0 0 / 0%));
	overflow: hidden;

	&__logo--text {
		filter: drop-shadow(0 0 8px var(--accent-track));
		font-family: var(--font-family-geosans);
		font-weight: 400;
		letter-spacing: 0.35em;
		margin-right: -0.35em;
		-webkit-text-stroke: 2px;
		text-transform: uppercase;
	}

	&__title {
		color: var(--gray-12);
		filter: drop-shadow(0 0 4px var(--accent-a2));
		font-weight: 700;

		strong {
			color: var(--gray-12);
			filter: drop-shadow(0 0 8px var(--accent-surface));
			font-weight: 700;
		}
	}
}

// Non-nested classes
.selectLanguage__header {
	@include mixins.heading-styled;

	color: var(--accent-11);
	font-size: var(--text-base);
}

.nmsFont--header {
	color: var(--accent-track);
	font-family: NMS, sans-serif;
}

.nmsFont {
	font-family: NMS, sans-serif;
}

.glow {
	animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
	0%,
	100% {
		filter: drop-shadow(0 0 5px var(--accent-a2));
	}

	50% {
		filter: drop-shadow(0 0 10px var(--accent-a11));
	}
}
