@use "../../styles/mixins";

.header {
	background-image: linear-gradient(to bottom, var(--color-panel-solid), rgb(0 0 0 / 0%));
	overflow: hidden;

	&__logo--text {
		font-family: var(--font-family-geosans);
		font-weight: 400;
		letter-spacing: 0.35em;
		margin-right: -0.35em;
		text-shadow: 0 0 8px var(--accent-track);
		-webkit-text-stroke: 2px;
		text-transform: uppercase;
	}

	&__title {
		color: var(--gray-12);
		font-weight: 700;
		text-shadow: 0 0 4px var(--accent-a2);

		strong {
			color: var(--gray-12);
			font-weight: 700;
			text-shadow: 0 0 8px var(--accent-surface);
		}
	}
}

// Non-nested classes
.selectLanguage__header {
	@include mixins.heading-styled;

	color: var(--accent-11);
	font-size: var(--text-base);
}

.nmsFont--header {
	color: var(--accent-track);
	font-family: NMS, sans-serif;
}

.nmsFont {
	font-family: NMS, sans-serif;
}
