@use "../../styles/mixins";

.app-header {
	align-items: center;
	background-image: linear-gradient(to bottom, var(--color-panel-solid), transparent);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	@media (width >= 1024px) {
		border-top-left-radius: 0.75rem;
		border-top-right-radius: 0.75rem;
	}

	&__controls {
		align-items: center;
		display: flex;
		position: absolute !important;
		z-index: 10;

		&--left {
			align-items: center; // Changed from flex-start to center vertically
			height: var(--space-6); // 32px
			left: var(--space-5) !important; // 24px
			top: var(--space-5) !important; // 24px

			@media (width >= 640px) {
				left: var(--space-5) !important; // 24px
				top: var(--space-5) !important; // 24px
			}
		}

		&--right {
			display: none;
			top: var(--space-5) !important; // 24px

			@media (width >= 640px) {
				display: flex;
				right: var(--space-5) !important; // 24px
				top: var(--space-5) !important; // 24px
			}
		}
	}

	&__logo-text {
		font-family: var(--font-family-geosans);
		font-size: 1.875rem;
		font-weight: 400;
		letter-spacing: 0.35em;
		line-height: 2.25rem;
		margin-right: -0.35em;
		text-align: center;
		text-shadow: 0 0 8px var(--accent-track);
		-webkit-text-stroke: 2px;
		text-transform: uppercase;
		word-spacing: -0.25rem;

		@media (width >= 640px) {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	}

	&__logo-image {
		color: var(--accent-track);
		flex-shrink: 0;
		height: 1rem;
		width: 0.75rem;

		@media (width >= 640px) {
			height: 1.25rem;
			width: 1rem;
		}
	}

	&__title {
		color: var(--gray-12);
		font-weight: 700;
		text-shadow: 0 0 4px var(--accent-a2);

		strong {
			color: var(--gray-12);
			font-weight: 700;
			text-shadow: 0 0 8px var(--accent-track);
		}
	}
}

// Non-nested classes
.selectLanguage__header {
	@include mixins.heading-styled;

	color: var(--accent-11);
	font-size: var(--text-base);
}

.nmsFont--header {
	color: var(--accent-track);
	font-family: NMS, sans-serif;
}

.nmsFont {
	font-family: NMS, sans-serif;
}
