:root {
	--cyan-1: #fafdfe;
	--cyan-2: #f2fafb;
	--cyan-3: #def7f9;
	--cyan-4: #caf1f6;
	--cyan-5: #b5e9f0;
	--cyan-6: #9ddde7;
	--cyan-7: #7dcedc;
	--cyan-8: #3db9cf;
	--cyan-9: #00a2c7;
	--cyan-10: #0797b9;
	--cyan-11: #107d98;
	--cyan-12: #0d3c48;
	--cyan-a1: #0099cc05;
	--cyan-a2: #009db10d;
	--cyan-a3: #00c2d121;
	--cyan-a4: #00bcd435;
	--cyan-a5: #01b4cc4a;
	--cyan-a6: #00a7c162;
	--cyan-a7: #009fbb82;
	--cyan-a8: #00a3c0c2;
	--cyan-a9: #00a2c7;
	--cyan-a10: #0094b7f8;
	--cyan-a11: #007491ef;
	--cyan-a12: #00323ef2;
	--cyan-surface: #eff9facc;
	--cyan-indicator: var(--cyan-9);
	--cyan-track: var(--cyan-9);
}
:root {
	--cyan-contrast: white;
}
:root {
	--sage-1: #fbfdfc;
	--sage-2: #f7f9f8;
	--sage-3: #eef1f0;
	--sage-4: #e6e9e8;
	--sage-5: #dfe2e0;
	--sage-6: #d7dad9;
	--sage-7: #cbcfcd;
	--sage-8: #b8bcba;
	--sage-9: #868e8b;
	--sage-10: #7c8481;
	--sage-11: #5f6563;
	--sage-12: #1a211e;
	--sage-a1: #00804004;
	--sage-a2: #00402008;
	--sage-a3: #002d1e11;
	--sage-a4: #001f1519;
	--sage-a5: #00180820;
	--sage-a6: #00140d28;
	--sage-a7: #00140a34;
	--sage-a8: #000f0847;
	--sage-a9: #00110b79;
	--sage-a10: #00100a83;
	--sage-a11: #000a07a0;
	--sage-a12: #000805e5;
	--sage-surface: #fffc;
	--sage-indicator: var(--sage-9);
	--sage-track: var(--sage-9);
}
:root {
	--sage-contrast: white;
}
:root {
	--purple-1: #fefcfe;
	--purple-2: #fbf7fe;
	--purple-3: #f7edfe;
	--purple-4: #f2e2fc;
	--purple-5: #ead5f9;
	--purple-6: #e0c4f4;
	--purple-7: #d1afec;
	--purple-8: #be93e4;
	--purple-9: #8e4ec6;
	--purple-10: #8347b9;
	--purple-11: #8145b5;
	--purple-12: #402060;
	--purple-a1: #aa00aa03;
	--purple-a2: #8000e008;
	--purple-a3: #8e00f112;
	--purple-a4: #8d00e51d;
	--purple-a5: #8000db2a;
	--purple-a6: #7a01d03b;
	--purple-a7: #6d00c350;
	--purple-a8: #6600c06c;
	--purple-a9: #5c00adb1;
	--purple-a10: #53009eb8;
	--purple-a11: #52009aba;
	--purple-a12: #250049df;
	--purple-surface: #faf5fecc;
	--purple-indicator: var(--purple-9);
	--purple-track: var(--purple-9);
}
:root {
	--purple-contrast: white;
}
:root {
	--amber-1: #fefdfb;
	--amber-2: #fefbe9;
	--amber-3: #fff7c2;
	--amber-4: #ffee9c;
	--amber-5: #fbe577;
	--amber-6: #f3d673;
	--amber-7: #e9c162;
	--amber-8: #e2a336;
	--amber-9: #ffc53d;
	--amber-10: #ffba18;
	--amber-11: #ab6400;
	--amber-12: #4f3422;
	--amber-a1: #c0800004;
	--amber-a2: #f4d10016;
	--amber-a3: #ffde003d;
	--amber-a4: #ffd40063;
	--amber-a5: #f8cf0088;
	--amber-a6: #eab5008c;
	--amber-a7: #dc9b009d;
	--amber-a8: #da8a00c9;
	--amber-a9: #ffb300c2;
	--amber-a10: #ffb300e7;
	--amber-a11: #ab6400;
	--amber-a12: #341500dd;
	--amber-surface: #fefae4cc;
	--amber-indicator: var(--amber-9);
	--amber-track: var(--amber-9);
}
:root {
	--amber-contrast: #21201c;
}
:root {
	--blue-1: #fbfdff;
	--blue-2: #f4faff;
	--blue-3: #e6f4fe;
	--blue-4: #d5efff;
	--blue-5: #c2e5ff;
	--blue-6: #acd8fc;
	--blue-7: #8ec8f6;
	--blue-8: #5eb1ef;
	--blue-9: #0090ff;
	--blue-10: #0588f0;
	--blue-11: #0d74ce;
	--blue-12: #113264;
	--blue-a1: #0080ff04;
	--blue-a2: #008cff0b;
	--blue-a3: #008ff519;
	--blue-a4: #009eff2a;
	--blue-a5: #0093ff3d;
	--blue-a6: #0088f653;
	--blue-a7: #0083eb71;
	--blue-a8: #0084e6a1;
	--blue-a9: #0090ff;
	--blue-a10: #0086f0fa;
	--blue-a11: #006dcbf2;
	--blue-a12: #002359ee;
	--blue-surface: #f1f9ffcc;
	--blue-indicator: var(--blue-9);
	--blue-track: var(--blue-9);
}
:root {
	--blue-contrast: white;
}
:root {
	--crimson-1: #fffcfd;
	--crimson-2: #fef7f9;
	--crimson-3: #ffe9f0;
	--crimson-4: #fedce7;
	--crimson-5: #facedd;
	--crimson-6: #f3bed1;
	--crimson-7: #eaacc3;
	--crimson-8: #e093b2;
	--crimson-9: #e93d82;
	--crimson-10: #df3478;
	--crimson-11: #cb1d63;
	--crimson-12: #621639;
	--crimson-a1: #ff005503;
	--crimson-a2: #e0004008;
	--crimson-a3: #ff005216;
	--crimson-a4: #f8005123;
	--crimson-a5: #e5004f31;
	--crimson-a6: #d0004b41;
	--crimson-a7: #bf004753;
	--crimson-a8: #b6004a6c;
	--crimson-a9: #e2005bc2;
	--crimson-a10: #d70056cb;
	--crimson-a11: #c4004fe2;
	--crimson-a12: #530026e9;
	--crimson-surface: #fef5f8cc;
	--crimson-indicator: var(--crimson-9);
	--crimson-track: var(--crimson-9);
}
:root {
	--crimson-contrast: white;
}
:root {
	--green-1: #fbfefc;
	--green-2: #f4fbf6;
	--green-3: #e6f6eb;
	--green-4: #d6f1df;
	--green-5: #c4e8d1;
	--green-6: #adddc0;
	--green-7: #8eceaa;
	--green-8: #5bb98b;
	--green-9: #30a46c;
	--green-10: #2b9a66;
	--green-11: #218358;
	--green-12: #193b2d;
	--green-a1: #00c04004;
	--green-a2: #00a32f0b;
	--green-a3: #00a43319;
	--green-a4: #00a83829;
	--green-a5: #019c393b;
	--green-a6: #00963c52;
	--green-a7: #00914071;
	--green-a8: #00924ba4;
	--green-a9: #008f4acf;
	--green-a10: #008647d4;
	--green-a11: #00713fde;
	--green-a12: #002616e6;
	--green-surface: #f1faf4cc;
	--green-indicator: var(--green-9);
	--green-track: var(--green-9);
}
:root {
	--green-contrast: white;
}
:root {
	--iris-1: #fdfdff;
	--iris-2: #f8f8ff;
	--iris-3: #f0f1fe;
	--iris-4: #e6e7ff;
	--iris-5: #dadcff;
	--iris-6: #cbcdff;
	--iris-7: #b8baf8;
	--iris-8: #9b9ef0;
	--iris-9: #5b5bd6;
	--iris-10: #5151cd;
	--iris-11: #5753c6;
	--iris-12: #272962;
	--iris-a1: #0000ff02;
	--iris-a2: #0000ff07;
	--iris-a3: #0011ee0f;
	--iris-a4: #000bff19;
	--iris-a5: #000eff25;
	--iris-a6: #000aff34;
	--iris-a7: #0008e647;
	--iris-a8: #0008d964;
	--iris-a9: #0000c0a4;
	--iris-a10: #0000b6ae;
	--iris-a11: #0600abac;
	--iris-a12: #000246d8;
	--iris-surface: #f6f6ffcc;
	--iris-indicator: var(--iris-9);
	--iris-track: var(--iris-9);
}
:root {
	--iris-contrast: white;
}
:root {
	--jade-1: #fbfefd;
	--jade-2: #f4fbf7;
	--jade-3: #e6f7ed;
	--jade-4: #d6f1e3;
	--jade-5: #c3e9d7;
	--jade-6: #acdec8;
	--jade-7: #8bceb6;
	--jade-8: #56ba9f;
	--jade-9: #29a383;
	--jade-10: #26997b;
	--jade-11: #208368;
	--jade-12: #1d3b31;
	--jade-a1: #00c08004;
	--jade-a2: #00a3460b;
	--jade-a3: #00ae4819;
	--jade-a4: #00a85129;
	--jade-a5: #00a2553c;
	--jade-a6: #009a5753;
	--jade-a7: #00945f74;
	--jade-a8: #00976ea9;
	--jade-a9: #00916bd6;
	--jade-a10: #008764d9;
	--jade-a11: #007152df;
	--jade-a12: #002217e2;
	--jade-surface: #f1faf5cc;
	--jade-indicator: var(--jade-9);
	--jade-track: var(--jade-9);
}
:root {
	--jade-contrast: white;
}
:root {
	--orange-1: #fefcfb;
	--orange-2: #fff7ed;
	--orange-3: #ffefd6;
	--orange-4: #ffdfb5;
	--orange-5: #ffd19a;
	--orange-6: #ffc182;
	--orange-7: #f5ae73;
	--orange-8: #ec9455;
	--orange-9: #f76b15;
	--orange-10: #ef5f00;
	--orange-11: #cc4e00;
	--orange-12: #582d1d;
	--orange-a1: #c0400004;
	--orange-a2: #ff8e0012;
	--orange-a3: #ff9c0029;
	--orange-a4: #ff91014a;
	--orange-a5: #ff8b0065;
	--orange-a6: #ff81007d;
	--orange-a7: #ed6c008c;
	--orange-a8: #e35f00aa;
	--orange-a9: #f65e00ea;
	--orange-a10: #ef5f00;
	--orange-a11: #cc4e00;
	--orange-a12: #431200e2;
	--orange-surface: #fff5e9cc;
	--orange-indicator: var(--orange-9);
	--orange-track: var(--orange-9);
}
:root {
	--orange-contrast: white;
}
:root {
	--red-1: #fffcfc;
	--red-2: #fff7f7;
	--red-3: #feebec;
	--red-4: #ffdbdc;
	--red-5: #ffcdce;
	--red-6: #fdbdbe;
	--red-7: #f4a9aa;
	--red-8: #eb8e90;
	--red-9: #e5484d;
	--red-10: #dc3e42;
	--red-11: #ce2c31;
	--red-12: #641723;
	--red-a1: #ff000003;
	--red-a2: #ff000008;
	--red-a3: #f3000d14;
	--red-a4: #ff000824;
	--red-a5: #ff000632;
	--red-a6: #f8000442;
	--red-a7: #df000356;
	--red-a8: #d2000571;
	--red-a9: #db0007b7;
	--red-a10: #d10005c1;
	--red-a11: #c40006d3;
	--red-a12: #55000de8;
	--red-surface: #fff5f5cc;
	--red-indicator: var(--red-9);
	--red-track: var(--red-9);
}
:root {
	--red-contrast: white;
}
:root {
	--sky-1: #f9feff;
	--sky-2: #f1fafd;
	--sky-3: #e1f6fd;
	--sky-4: #d1f0fa;
	--sky-5: #bee7f5;
	--sky-6: #a9daed;
	--sky-7: #8dcae3;
	--sky-8: #60b3d7;
	--sky-9: #7ce2fe;
	--sky-10: #74daf8;
	--sky-11: #00749e;
	--sky-12: #1d3e56;
	--sky-a1: #00d5ff06;
	--sky-a2: #00a4db0e;
	--sky-a3: #00b3ee1e;
	--sky-a4: #00ace42e;
	--sky-a5: #00a1d841;
	--sky-a6: #0092ca56;
	--sky-a7: #0089c172;
	--sky-a8: #0085bf9f;
	--sky-a9: #00c7fe83;
	--sky-a10: #00bcf38b;
	--sky-a11: #00749e;
	--sky-a12: #002540e2;
	--sky-surface: #eef9fdcc;
	--sky-indicator: var(--sky-9);
	--sky-track: var(--sky-9);
}
:root {
	--sky-contrast: #1c2024;
}
:root {
	--teal-1: #fafefd;
	--teal-2: #f3fbf9;
	--teal-3: #e0f8f3;
	--teal-4: #ccf3ea;
	--teal-5: #b8eae0;
	--teal-6: #a1ded2;
	--teal-7: #83cdc1;
	--teal-8: #53b9ab;
	--teal-9: #12a594;
	--teal-10: #0d9b8a;
	--teal-11: #008573;
	--teal-12: #0d3d38;
	--teal-a1: #00cc9905;
	--teal-a2: #00aa800c;
	--teal-a3: #00c69d1f;
	--teal-a4: #00c39633;
	--teal-a5: #00b49047;
	--teal-a6: #00a6855e;
	--teal-a7: #0099807c;
	--teal-a8: #009783ac;
	--teal-a9: #009e8ced;
	--teal-a10: #009684f2;
	--teal-a11: #008573;
	--teal-a12: #00332df2;
	--teal-surface: #f0faf8cc;
	--teal-indicator: var(--teal-9);
	--teal-track: var(--teal-9);
}
:root {
	--teal-contrast: white;
}
:root {
	--yellow-1: #fdfdf9;
	--yellow-2: #fefce9;
	--yellow-3: #fffab8;
	--yellow-4: #fff394;
	--yellow-5: #ffe770;
	--yellow-6: #f3d768;
	--yellow-7: #e4c767;
	--yellow-8: #d5ae39;
	--yellow-9: #ffe629;
	--yellow-10: #ffdc00;
	--yellow-11: #9e6c00;
	--yellow-12: #473b1f;
	--yellow-a1: #aaaa0006;
	--yellow-a2: #f4dd0016;
	--yellow-a3: #ffee0047;
	--yellow-a4: #ffe3016b;
	--yellow-a5: #ffd5008f;
	--yellow-a6: #ebbc0097;
	--yellow-a7: #d2a10098;
	--yellow-a8: #c99700c6;
	--yellow-a9: #ffe100d6;
	--yellow-a10: #ffdc00;
	--yellow-a11: #9e6c00;
	--yellow-a12: #2e2000e0;
	--yellow-surface: #fefbe4cc;
	--yellow-indicator: var(--yellow-10);
	--yellow-track: var(--yellow-10);
}
:root {
	--yellow-contrast: #21201c;
}
:root {
	--black-a1: #0000000d;
	--black-a2: #0000001a;
	--black-a3: #00000026;
	--black-a4: #0003;
	--black-a5: #0000004d;
	--black-a6: #0006;
	--black-a7: #00000080;
	--black-a8: #0009;
	--black-a9: #000000b3;
	--black-a10: #000c;
	--black-a11: #000000e6;
	--black-a12: #000000f2;
	--white-a1: #ffffff0d;
	--white-a2: #ffffff1a;
	--white-a3: #ffffff26;
	--white-a4: #fff3;
	--white-a5: #ffffff4d;
	--white-a6: #fff6;
	--white-a7: #ffffff80;
	--white-a8: #fff9;
	--white-a9: #ffffffb3;
	--white-a10: #fffc;
	--white-a11: #ffffffe6;
	--white-a12: #fffffff2;
}

