name: Crowdin Push Sources

on:
    push:
        branches:
            - main
        paths:
            - "public/assets/locales/**/translation.json"
    workflow_dispatch:

jobs:
    push-to-crowdin:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Upload Source and Translations to Crowdin
              uses: crowdin/github-action@v2
              with:
                  upload_sources: true
                  upload_translations: false
                  download_translations: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
                  CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
