name: Sync Crowdin Translations

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 0"

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout main
        uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Download Translations from Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          localization_branch_name: l10n_crowdin_translations
          create_pull_request: false
          push_translations: false
          commit_message: "chore: update Crowdin translations"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      - name: Format translations
        run: npm run format:locales

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: l10n_crowdin_translations
          base: main
          title: "chore: New Crowdin translations"
          commit-message: "chore: update and format Crowdin translations"
          body: |
            New translations from Crowdin.
            Files formatted to match project standards.
          delete-branch: true
