.moduleSelection__heading--styled {
	letter-spacing: var(--letter-spacing-wide);
	font-family: var(--font-family-geosans);
	font-weight: 400;
	text-transform: uppercase;
	filter: drop-shadow(0 2px 4px var(--accent-a2));
	-webkit-text-stroke: 0.8px;
	line-height: 1.5em;
}

/* Element: Close Button */
.moduleSelection__close {
	position: absolute;
	top: 10px;
	right: 8px;
}

.moduleSelection__content {
	max-height: 80vh;
}
